.expenses-list{
  position:relative;
  display:flex;
  flex-direction:column;
}

.expenses-list li{
  display:flex;
  justify-content: space-evenly;
  align-items:center;
  border-top:1px solid white;
}

.category-indicator{
  position:relative;
  left:-0.75em;
  height:2rem;
  width:5px;
  margin:0;
}

.expenses-list li:first-child{
  border-top:none;
  margin-top:0;
}

.expenses-list li > div {
  margin:1em 0;
}

.expense-title-cat{
  flex-basis:60%;
}

.expense-title{
  font-weight: 700;
}

.expense-date{
  text-align:left;
  flex-basis:20%;
  
}

.expense-amount{
  text-align:right;
  flex-basis:20%;
}


@media(max-width:560px){
  .expense-date{
    flex-basis:25%; 
  }
  .expense-amount{
    flex-basis:25%;
  }
  .expense-title-cat{
    flex-basis:50%;
  }

}