.summary-card{
  display:flex;
  justify-content: flex-start;
  width:50%;
  max-width:600px;
}

.summary-card > div {
  border-left:2px solid #fff;
  padding:0 2em;
}
.summary-card > div:first-of-type {
  border-left:none;
  padding-left:0;
}

.large-text{
  font-size:1.8rem;
  font-weight:700;
}